<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.dao.NoteDao">
    <select id="queryNotebyName" resultType="com.xxx.po.Note">
        select *
        from tb_note
        where noteid =#{noteId}
    </select>
</mapper>